.tag-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  display: block;
  background-color: #f8f9fa;
  color: #666666;
  padding: 6px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 10px;
  row-gap: 10px;
  margin-top: 20px;
  justify-content: center;
}
