.App {
  text-align: center;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.posts-container {
  max-width: 1170px;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.posts {
  display: grid;
  grid-template-columns: 370px 370px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin-top: 60px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
